body{
    background-color: black;
}
header{
    background-color: plum;
    color: aqua;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 300%;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 20px;
}

.pic{
    position: relative;
    height: 200px;
    overflow: hidden;
    background-image: url(../Pics/galaxy.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pic p {
    font-size: 250%;
    background-color: purple;
    color: aqua;
    margin: 0%;
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 0;
}

.content{
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 250%;
    margin: 15px;
    color: white;
    border-right: thick solid aqua;
    padding-right: 5%;
}

.me{
    width: 10%;
    margin-left: 5%;
}

.About-Me,.Work,.Contact-Me{
    display: flex;
    padding-top: 10%;
}

.About-Me p,.Contact-Me a{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.About-Me p{
    margin-left: 5%;
}

.refactor img{
    width: 50%;
    padding-left: 20%;
}

.coming-soon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.coming-soon img{
    width: 15%;
    margin: 10px;
    transition: all 0.5s purple ease-in-out;
    border: dotted aqua;
}

.Contact-Me{
    align-items: center;
}

.Contact-Me a{
    margin: 5%;
}